
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <style>
            .city {
                background-color: silver;
                color: black;
                border: 2px solid black;
                margin: 20px;
                padding: 15px;
                width: 250px;
                text-align: center
            }
        </style>
    </head>

    <body id="container">
        <div class="city">
            <h2>@Html.ActionLink("M-205", "KisiSinif2", "Tablolar", new { style = "color:black" })</h2>
        </div>
        <div class="city">
            <h2>@Html.ActionLink("M-108", "KisiSinif1", "Tablolar", new { style = "color:black" })</h2>

        </div>
        <div class="city">
            <h2>@Html.ActionLink("M-109", "KisiSinif3", "Tablolar", new { style = "color:black" })</h2>

        </div>

    </body>
</html>
