
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excel</title>
    <style>
        .con {
            margin: 100px;
            padding: 10px;
            float: left;
            width: 2000px;
        }

        table, th, td {
          
            text-align: right;
            padding: 15px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="con">
        @using (Html.BeginForm("Upload", "ExcelFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <table align="left">
            <tr>
                <td>
                    <h4 style="text-align:left">Yüklenecek Dosya:</h4>
                </td>
            </tr>
            <tr>
                <td>

                    <input type="file" name="UploadFile" />
                </td>
                <spac></spac>

            </tr>

            <spac></spac>
            <tr>
                <td colspan="4">
                    <input input type="submit" name="submit" value="Upload" style="background-color: #cfb1ff " />
                </td>
            </tr>
            <tr>
                <td>
                    <h5 style="color:red; text-align:left">@ViewBag.mas2</h5>
                </td>
            </tr>
            
        </table>
            
        }

    </div>
</body>
</html>
